<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>영화의 즐거움, MovieStar</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <section layout:fragment="content">
        <div class="logo">
            <div>
                <div>
                    <a href="list">
                        <img src="/img/logo_w.png">
                    </a>
                </div>
                <div>
                    <span>함께 나누는 즐거움, 더해지는 즐거움!</span>
                </div>
            </div>
        </div>

        <article class="modify_content">
            <div>
                <form th:action="@{/movie/modify}" method="post" id="f1" enctype="multipart/form-data">
                    <input type="hidden" name="no" th:value="${dto.no}"/>
                    <div>
                        <span>영화명</span>
                        <input type="text" name="title" th:value="${dto.title}"/>
                    </div>
                    <div>
                        <span>줄거리</span>
                        <textarea name="content">[[${dto.content}]]</textarea>
                    </div>
                    <div>
                        <span>기존 포스터</span>
                        <img th:src="@{/movie/images/{filename}(filename=${dto.imagePath})}" alt="Current Image"/>
                    </div>
                    <div>
                        <span>수정 포스터</span>
                        <input type="file" name="image"/>
                    </div>
                </form>
            </div>

            <!-- 버튼 -->
            <div class="modify_buttons">
                <button type="button" class="listBtn">목록</button>
                <button type="submit" class="modBtn">수정</button>
                <button type="button" class="removeBtn">삭제</button>
            </div>
        </article>

    </section>

    <script th:inline="javascript">
        const link = [[${pageRequestDTO.getLink}]];
        const formObj = document.querySelector("#f1");

        document.querySelector(".listBtn").addEventListener("click", function (e) {
            e.preventDefault();
            window.location.href = `/movie/list?${link}`;
        }, false);

        document.querySelector(".modBtn").addEventListener("click", function (e) {
            e.preventDefault();
            e.stopPropagation();

            formObj.action = `/movie/modify?${link}`;
            formObj.method = 'post';
            formObj.submit();
        }, false);

        document.querySelector(".removeBtn").addEventListener("click", function(e) {
            e.preventDefault();
            e.stopPropagation();

            if (confirm("삭제하시겠습니까?")) {
                formObj.action = `/movie/remove`;
                formObj.method = 'post';
                formObj.submit();
            }
        }, false);
    </script>
</body>
</html>